<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logImpl" value="SLF4J" />
	</settings>
	<typeHandlers>
	</typeHandlers>
	<plugins>
		<plugin interceptor="hl.king.mybatis.spring.common.intercept.PageInterceptor" />
		<plugin interceptor="com.hl.king.mybatis.locker.interceptor.VersionPlugin" />
	</plugins>
</configuration>